@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir.ttf");
}

@font-face {
  font-family: "StarGuard";
  src: url("/fonts/starguard.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #17191e;
    --background-100: #272d3a;

    --foreground: #e8e9e9;
    --foreground-100: #fff3ec;
    --foreground-200: #9f9f9f;

    --card: #272d3a;

    --secondary: #d5880b;
    --secondary-foreground: #f1b71b;

    --variant-to: #703de4;
    --variant-from: #b49ef1;
    --variant-via: #8e6bea;

    --border: #454e5b;
    --border-secondary: #fed45f;
    --border-variant: #a091f5;

    --grey: #abb8c4;
    --grey-100: #9f9f9f;
    --grey-btn: #323c49;

    --input: #1a1d21;
    --ring: #363a3d;

    --muted: #222;
    --muted-foreground: #9f9f9f;

    --radius: 0.5rem;
    --drop-shadow: #1d2125e1; /* bg-dark-200 */
    --scroll-thumb: #17191e;
    --scroll-track: #454e5b;
  }

  body {
    @apply bg-background text-foreground-100;
  }
  h1 {
    @apply text-primaryFont font-bold;
  }
  h2 {
    @apply text-secondaryFont font-semibold;
  }
  h3 {
    @apply text-subtitle font-medium;
  }
}

@layer utilities {
  .row-flex {
    @apply flex flex-row flex-nowrap items-center justify-center align-middle;
  }
  .row-flex-start {
    @apply row-flex !justify-start;
  }
  .row-flex-btwn {
    @apply flex flex-row flex-nowrap items-center justify-between align-middle;
  }
  .flex-column {
    @apply flex flex-col items-start justify-center;
  }

  /* CUSTOM SECTION STYLES */
  .card {
    @apply overflow-hidden rounded-xl border-2 border-border bg-card shadow-sm;
  }
  .heading-bg {
    @apply row-flex relative flex min-h-10 w-full bg-background px-2 py-1 text-center;
  }
  .heading-variant {
    @apply font-star text-xl uppercase tracking-wide;
  }
  .input {
    @apply my-auto h-10 w-full overflow-hidden rounded-lg border-2 border-border bg-background px-2 text-base font-bold shadow-inner disabled:border-2 disabled:border-black/75 disabled:bg-gray-700 disabled:opacity-75;
  }
  .active-modal {
    @apply font-semibold text-secondary-foreground;
  }
  .arrow {
    @apply m-1 my-auto object-scale-down pb-0.5 pt-0.5 grayscale hover:brightness-125;
  }
  .btn-variant-yellow {
    @apply w-64 border-border-secondary bg-gradient-to-r from-yellow-200 via-yellow-300 to-yellow-400 text-black !important;
  }
  .btn-variant-lilac {
    @apply border-border-variant bg-gradient-to-r from-variant-from via-variant-via to-variant-to text-foreground !important;
  }
  .btn-grey {
    @apply border-border bg-gradient-to-l from-background via-slate-900 to-slate-800 text-foreground !important;
  }
  .btn-variant {
    @apply row-flex my-1 inline-flex h-10 w-full whitespace-nowrap rounded-md border-2 px-6 py-2 font-star text-lg uppercase tracking-wide subpixel-antialiased shadow-inner filter transition duration-150 hover:brightness-90 active:translate-y-0.5 active:brightness-90 disabled:pointer-events-none disabled:opacity-50 2xl:h-12 2xl:py-3;
  }
  .badge-tab {
    @apply row-flex my-1 h-8 gap-2 whitespace-nowrap rounded-md border-2 border-border bg-grey-btn px-6 py-2 font-avenir text-base font-bold uppercase text-foreground shadow-inner filter transition duration-150 hover:brightness-125 active:translate-y-0.5 active:brightness-90 disabled:pointer-events-none disabled:opacity-50 2xl:h-10 2xl:py-3;
  }

  /* =====  SHADCN OVERRIDES */
  .shad-primary-btn {
    @apply bg-secondary focus:ring-secondary !important;
  }
  .shad-select-trigger {
    @apply h-11 border-border bg-input placeholder:text-grey-100;
  }
  .shad-select-content {
    @apply border-border bg-input !important;
  }
  .shad-alert-dialog {
    @apply border-2 border-border bg-background-100 outline-none !important;
  }
  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-table {
    @apply overflow-hidden rounded-lg !important;
  }
  .shad-table-row-header {
    @apply border-b bg-background py-1 !important;
  }
  .shad-table-row {
    @apply border-b border-slate-700 py-2 even:bg-background hover:bg-slate-700 hover:even:bg-black/50 !important;
  }

  /* Data Table */
  .data-table {
    @apply z-10 overflow-hidden rounded-lg shadow-lg;
  }
  .table-actions {
    @apply row-flex !justify-evenly gap-4 space-x-2 bg-background p-1;
  }
  .table-data-sm {
    @apply mx-auto break-words font-medium capitalize max-[370px]:w-[10ch];
  }
}

@layer components {
  .grid-layout-md {
    grid-template-rows: 60vh 40vh;
  }
}
